body {
  font-size: 16px;
  color: #606060;
  background-color: #f3f3f3;
  font-family: 'Roboto Condensed', sans-serif;
}
/*this is the header */
#header-nav {
  background-color: #001f3f;
  border-radius: 0;
  border: 0;
  height: 80px;
}
.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Roboto Condensed', sans-serif;
  color: #FFDC00;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px; 
}
#nav-list a {
  color: #2ecc71;
  text-align: center; 
  font-size: 1.3em;
}
#nav-list a:hover {
  background: #ddd;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #FFDC00;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: #2ecc71;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
.navbar-collapse {
	border:0;
}
/*.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	background-color: #9b59b6;
	margin-top:18px;
}
*/.our_menu {
	color:#001f3f;
}
.main-content {
	color: #333;
}

@media (max-width: 767px) {
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background-color: #9b59b6;
    margin-top: 18px;
    position: relative;
    z-index: 9;
  }
}

#main-content section {
	background-color:#fff;
	padding: 10px;
	margin-bottom: 10px;
}